/* .about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .about-content {
    width: 50%;
  }
  
  .about-image {
    width: 40%;
  }
   */