.create-background {
    /* background-color:#f7ea8e; */
    background-image: linear-gradient(to bottom, #005a71 33%, #ebebeb 33%);
    /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBteuSWwRtzVq0U_FuskCSOgMUc1s5kcedfw&usqp=CAU');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    /* set height to 100vh to cover entire viewport height */
    width: 100vw;
    /* set width to 100vw to cover entire viewport width */
    display: flex;
    /* Use flexbox for vertical alignment */
    align-items: center;
    /* Center align items vertically */
    justify-content: center;
    /* Center align items horizontally */
}

.create-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 34px 40px 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    /* set height to 100vh to cover entire viewport height */
    width: 100vw;
    /* set width to 100vw to cover entire viewport width */
    max-width: 400px;
    /* Set max width of the create container */
    max-height: 600px;
    /* Set max width of the create container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    /* Add box shadow for a subtle effect */
}

/* Login Chat Container */
.create-chat-container {
    text-align: center;
    /* Center align items in the chat container */
}

.create-chat-header {
    font-size: 24px;
    /* Set font size for the chat header */
    font-weight: bold;
    /* Set font weight for the chat header */
    margin-bottom: 16px;
    /* Add margin bottom to the chat header */
}

.create-chat-body {
    margin-bottom: 24px;
    align-items: center;
    /* Add margin bottom to the chat body */
}

.create-chat-message {
    font-size: 16px;
    /* Set font size for the chat message */
    margin-bottom: 16px;
    /* Add margin bottom to the chat message */
}

.create-chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.create-chat-input-container label {
    display: flex;
    align-items: center;
    flex-basis: 135px;
    margin-right: 35px;
    padding-top: 4px;
}

.create-chat-input {
    font-family: Nunito, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    width: 50%;
    max-width: 400px;
    border: none;
    border-bottom: 0.5px solid #ccc;
    padding: 3px;
    border-radius: 0px;
}

.create-chat-input:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1.1);
}

.create-chat-button-container {
    text-align: center;
    /* Center align the button container */
}

.create-chat-button {
    background-color: #10a37f;
    /* Set background color of the button */
    color: #ffffff;
    /* Set text color of the button */
    padding: 12px 24px;
    /* Set padding for the button */
    border: none;
    /* Remove border from the button */
    border-radius: 4px;
    /* Add border radius to the button */
    cursor: pointer;
    /* Add cursor pointer on hover */
    font-size: 16px;
    /* Set font size for the button */
    font-weight: bold;
    /* Set font weight for the button */
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

}

.create-chat-button:hover {
    background-color: #13795f;
    /* Change background color of the button on hover */
}

.create-logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.create-logo {
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    /* Adjust size as needed */
    object-fit: cover;
    border-radius: 50%;
    /* Add additional styles as needed */
}

.error-message {
    color: red;
    margin: 10px 0;
    padding: 10px;
  }
  