.buttons-container {
  flex: 1;
  /* Allow the content container to take up remaining width */
  padding: 16px;
}

.add-budget-button {
  position: fixed;
  /* Set position to fixed for absolute positioning */
  top: 16px;
  /* Set distance from top */
  right: 16px;
  /* Set distance from right */
  color: #ffffff;
  /* Set text color to white */
  background-color: #058826;
  /* Set background color to a soft red */
  padding: 12px 20px;
  /* Add padding for spacing */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Add border radius for rounded edges */
  cursor: pointer;
  /* Add cursor pointer on hover */
  text-decoration: none;
  /* Remove underline from link */
  font-size: 16px;
  /* Set font size */
  font-weight: bold;
  /* Set font weight to bold */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Add smooth transition effect for background color and transform */
}

.add-budget-button:hover {
  background-color: #0ab936;
  /* Change background color on hover */
  transform: scale(1.05);
  /* Add slight scale effect on hover */
}

.add-budget-button:focus {
  outline: none;
  /* Remove default outline on focus */
}


/* ExpensesPage.css */

.buttons-container {
  display: flex;
}

.inline-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-input {
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-bottom: 40px;
  line-height: 24px;
  color: rgb(37, 39, 41);
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  width: 130px;
  border: none;
  border-bottom: 0.5px solid #ccc;
  padding: 3px;
  margin-right: 10px;
  border-radius: 0px;
}

.dashboard-container {
  margin: 0 auto;
  box-shadow: 0px 0px 10px #666;
  width: 40%;
  height: 50vh;
  padding: 20px;
  border: 5px solid black;
  background: #b4e2d6;
}

.dashboard-container-box {
  display: flex;
  justify-content: space-between;
}
