/* ExpenseList.css */

.table-expense {
  width: 100%;
  border-collapse: collapse;
}

.table-expense thead th {
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #000;
  cursor: pointer;
  background-color: #f8f9fa;
}

.table-expense tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table-expense tbody tr:hover {
  background-color: #3cb93844;
}

.table-expense tbody tr {
  background-color: #ffffff;
}

.table-expense tbody tr:nth-child(even) {
  background-color: #e4e4e4;
}
.table-expense tbody tr:nth-child(even):hover {
  background-color: #3cb93844;
}

.button-edit-expense {
  font-size: 16px;
  padding: 10px 10px;
  background-color: transparent; /* Light Blue color */
  color: #008CBA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-edit-expense:hover {
  transform: scale(1.2); /* Slightly increase size on hover */
}

.button-edit-expense:focus {
  outline: none; /* Remove default focus outline */
}


.button-expense-edit-cancel {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ffcc00; /* Yellow color */
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-expense-edit-cancel:hover {
  background-color: #e6b800; /* Darker yellow color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.button-expense-edit-cancel:focus {
  outline: none; /* Remove default focus outline */
}

.button-expense-edit-save {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-expense-edit-save:hover {
  background-color: #45a049; /* Darker green color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.button-expense-edit-save:focus {
  outline: none; /* Remove default focus outline */
}

.button-delete-expense {
  font-size: 16px;
  background-color: transparent; /* Tomato color */
  color: #ff6347;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-delete-expense:hover {
  transform: scale(1.2); /* Slightly increase size on hover */
}

.button-delete-expense:focus {
  outline: none; /* Remove default focus outline */
}


.item-label-expense {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.item-value-expense {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.item-value-expense-edit {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.label-spacing {
  margin-left: 0.8rem;
}

/* Add this to your CSS file */
.table-cell {
  width: 200px; /* Adjust this value to fit your needs */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}