table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .item-label-expense {
    font-family: Nunito, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  
  .item-value-expense {
    font-family: Nunito, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .label-spacing {
    margin-left: 0.8rem;
  }
  