.buttons-container {
  flex: 1;
  /* Allow the content container to take up remaining width */
  padding: 16px;
}

.add-expense-button {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #ffffff;
  background-color: #3d85c6;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-expense-button:hover {
  background-color: #f4da52;
  transform: scale(1.05);
}

.add-expense-button:focus {
  outline: none;
}


/* ExpensesPage.css */

.buttons-container {
  display: flex;
}

/* Update ExpensesPage.css */

/* Update ExpensesPage.css */

.tab-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tab-item {
  cursor: pointer;
  padding: 10px 155.8px;
  font-size: 17.9px;
  font-weight: bold;
  color: #333;
  background-color: #f9fafb;
  border: none;
  transition: all 0.3s ease;
}

.tab-item:hover {
  background-color: #b4e2d6;
}

.tab-item.active {
  color: #000;
  background-color: #b4e2d6;
  border-bottom: 8px solid #000000;
  transform: scale(1.2);
}


.tab-content {
  padding: 20px;
  background-color: #f7ea8e;
  border-radius: 0 0 5px 5px;
}

.expense-list-container {
  margin: 0 auto;
  box-shadow: 0px 0px 10px #666;
  width: 1160px;
  height: 50vh;
  padding: 20px;
  border: 5px solid black;
  background: #b4e2d6;
}

h1 {
  font-family: 'Domine', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(32, 33, 36);
}

h2 {
  font-family: 'Nunito', sans-serif;  
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(32, 33, 36);
}

h6 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(37, 39, 41);
}

.note-display {
  line-height: 1.5;  /* Adjust as needed */
  height: 400px; 
  max-height: 600px;
  width: 1000px;     /* Adjust as needed */
  overflow: auto;    /* Adds scroll if the text is longer */
}

.note-display {
  white-space: pre-wrap; /* This is to ensure that line-breaks in text are respected */
  line-height: 1.5; /* Setting line-height for better readability */
  font-size: 1rem; /* Font size */
}

.note-display.textarea {
  border: none; /* Removing the border */
  width: 100%; /* You can set the desired width */
  padding: 5px; /* Some padding */
  resize: none; /* Optionally disabling textarea resizing */
}
