.container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Set the width of the navbar and the remaining space for the content */
  height: 100vh; /* Set the height of the container to take the full height of the viewport */
}

.navbar-container {
  display: flex;
  flex-direction: column; /* Set the flex direction to column for vertical layout */
  justify-content: flex-start; /* Align items to the top of the container */
  align-items: flex-start; /* Align items to the start of the container */
  background-color: #bec0bd;
  padding: 16px;
}

.navbar-list {
  list-style-type: none; /* Remove bullet points from list items */
  padding: 0; /* Remove default padding from list */
  margin: 0; /* Remove default margin from list */
  font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  position: relative;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
} 

.navbar-item {
  margin-bottom: 8px;
  padding: 8px;
  cursor: hand;
}

.navbar-item:hover {
  background-color: #879fec;
}

.about-page-container {
  background-color: #e8e9e7;
}

.about-page-content {
  align-items: center; /* Align items to the start of the container */
  padding: 16px; /* Add padding for spacing */
  height: 100%; /* Set the height to 100% to take up the full height of the container */
}
  
