/* styles.css */
.home-screen-container {
    display: flex; /* Use flexbox for layout */
  }
  
  .navbar-container {
    width: 200px; /* Set the width of the Navbar component */
  }
  
  .content-container {
    flex-grow: 1; /* Allow the content container to grow and fill the remaining space */
    padding: 16px; /* Add some padding for spacing */
  }
  